.main-container-register {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 15%;
  padding-bottom: 25px;
  padding-top: 25px;
}

h1 {
  font-weight: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.buttons-container-register {
  display: flex;
  justify-content: space-between;
}