.main-container-tasks {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20% 0;
}

.form-add-task {
  display: flex;
  flex-direction: column;
}

.add-task-btn {
  margin-bottom: 40px;
  margin-right: 85%;
}

.buttom-container {
  display: flex;
  flex-direction: column;
}

.main-list {
  display: flex;
  justify-content: space-between;
}

.main-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

